<div class="status-bar">
    <div class="status-left">
        <i class="far fa-clock"></i> <span id="realTimeClock">00:00:00</span>
    </div>
    <div class="status-right">
        <button class="status-btn" title="언어 선택" data-i18n-title="tooltip_lang_select"><i class="fas fa-globe"></i> <span id="currentLangDisplay" data-i18n="lang-name"></span></button>
        <button class="status-btn" title="화면 설정" data-i18n-title="tooltip_settings"><i class="fas fa-cog"></i> <span data-i18n="btn_settings">설정</span></button>
    </div>
</div>