<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI기반보고서생성기</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/report-generator-chatbot/chatbot.css">
    <link rel="stylesheet" href="/report-generator-chatbot/responsive.css">
    <link rel="stylesheet" href="/report-generator-chatbot/footer.css">
    <link rel="stylesheet" href="/report-generator-chatbot/header.css">
    <link rel="stylesheet" href="/report-generator-chatbot/inputbox.css">
    <link rel="stylesheet" href="/report-generator-chatbot/orientation.css">
    <link rel="stylesheet" href="/report-generator-chatbot/settings.css">
    <link rel="stylesheet" href="/report-generator-chatbot/voicerecorder.css">
</head>
<body>

    <%- include('components/header') %>

    <%- include('components/chat-area') %>

    <%- include('components/inputbox') %>

    <%- include('setups/settings') %>

    <script type="module" src="/js/chatbot.js"></script>
</body>
</html>