<div class="status-bar">
    <div class="status-left">
        <i class="far fa-clock"></i> <span id="realTimeClock">00:00:00</span>
    </div>
    <div class="status-right">
        <button class="status-btn" title="언어 선택"><i class="fas fa-globe"></i> 한국어</button>
        <button class="status-btn" title="화면 설정"><i class="fas fa-cog"></i> 설정</button>
    </div>
</div>