<div class="voice-recorder" id="voiceRecorderUi">
    <div class="recorder-visualizer">
        <span></span><span></span><span></span><span></span><span></span>
    </div>
    <div class="recorder-timer" id="recordTimer">00:00</div>
    <button class="stop-record-btn" id="stopRecordBtn" title="녹음 완료">
        <i class="fas fa-stop"></i>
    </button>
</div>